/* Imported fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
    padding    : 0;
    margin     : 0;
    font-family: 'Montserrat', sans-serif;
}

/* Navbar starts */

#nav-body {
    top             : 0;
    position        : fixed;
    box-shadow      : 0 0.3125em 0.625em rgba(0, 0, 0, 0.2);
    background-color: white;
    padding-top     : 0.3125em;
    width           : 100%;
    height          : 3.625em;
    display         : flex;
}

#nav-head {
    margin-top : 0.5em;
    margin-left: 130%;
    width      : 50%;
    display    : block;
    font-weight: 700;
    font-size  : 1.5em;
}

.nav-bar {
    width          : 50%;
    float          : right;
    list-style-type: none;
    margin-left    : 32.5%;
    padding        : 0;
    overflow       : hidden;
}

.nav-bar li {
    float      : right;
    margin-left: 1.5625em;
}

.nav-bar a {
    font-weight    : 500;
    display        : block;
    color          : black;
    text-align     : center;
    padding-top    : 0.875em;
    padding-bottom : 1em;
    text-decoration: none;
}

/* Navbar ends */

/* Header starts */

.intro {
    width        : 45%;
    padding-left : 10%;
    margin-bottom: 10%;
}

.intro-text {
    color         : rgba(0, 0, 0, 0.7);
    text-transform: capitalize;
    margin-top    : 5em;
    font-size     : 2.625em;
}

.intro-text-span {
    background             : -webkit-linear-gradient(#14BAFC, #0389F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro p {
    margin-bottom: 3.125em;
}

.section-head {
    height       : 18.75em;
    padding-left : 10%;
    padding-right: 10%;
}

.section-div {
    width: 50%;
}

.section-div-img {
    padding: 6.25em 0 0 0;
    height: 31.25em;
    width : 31.25em;
}

.link-btn {
    font-size       : 1em;
    text-transform  : uppercase;
    font-weight     : bold;
    color           : white;
    text-decoration : none;
    background-image: linear-gradient(to right, #14BAFC, #0389F7);
    padding         : 0.9375em 1.5625em;
    border-radius   : 1.5625em;
}

/* Header ends */

/* About starts */

#about-head {
    height           : 25em;
    background-image : url(img/shapes/Frame-57.jpg);
    background-repeat: no-repeat;
    background-size  : cover;
    display          : flex;
    margin-top       : 0.3125em;
}

#section-about-img {
    height: 25em;
    width : 25em;
}

.about-img {
    width     : 50%;
    text-align: center;
}

.about-text-body {
    height       : 18.75em;
    width        : 50%;
    padding-right: 10%;
    padding-left : 10%;
}

.about-text-body h3 {
    color      : rgba(0, 0, 0, 0.6);
    font-size  : 2em;
    padding-top: 1.875em;
}

/* About ends */

/* Recipe starts */

#recipe-sec {
    height       : 37.5em;
    padding-left : 10%;
    padding-right: 10%;
    margin-bottom: 5em;
}

#recipe-body {
    height       : 9.375em;
    margin-left  : 20%;
    margin-right : 20%;
    margin-bottom: 2.5em;
}

#recipe-head {
    color     : rgba(0, 0, 0, 0.6);
    text-align: center;
    margin-top: 3.75em;
    font-size : 1.75em;
}

#recipe-card-group {
    width          : fit-content;
    height         : fit-content;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.food-cards {
    box-shadow      : 0 0 1.625em rgba(0, 0, 0, 0.2);
    background-color: white;
    padding         : 0.9375em;
    text-align      : center;
    width           : 50%;
    border-radius   : 0.9375em;
}

.food-cards h3,
p {
    text-align: left;
}

.recipe-img {
    border-radius: 0.9375em;
    width        : 100%;
    height       : 11.25em;
}

/* Recipe ends */

/* Views starts */

#view-sec {
    display      : flex;
    box-shadow   : 0 0 1.25em rgba(0, 0, 0, 0.2);
    border-radius: 0.625em;
    margin       : 0 10% 0 10%;
}

.view-card-body {
    width          : 80%;
    height         : 10em;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.view-card-head {
    text-align     : center;
    display        : flex;
    justify-content: center;
}

.view-card {
    width        : fit-content;
    margin-bottom: 1.25em;
    line-height  : 0.5;
    text-align   : left;
}

/* Views ends */

/* Feedback starts */

#feedback-title {
    color        : rgba(0, 0, 0, 0.6);
    margin-top   : 7.5em;
    margin-bottom: 5.625em;
}

#feedback-title p {
    text-align: center;
}

#feedback-body {
    width  : 80%;
    height : 25em;
    display: inline-block;
}

#feedback-item {
    display: flex;
}

.feedback-item-div {
    width        : 50%;
    height       : 25em;
    border-radius: 0.9375em;
    box-shadow   : 0 0 1.25em rgba(0, 0, 0, 0.2);
}

.feedback-img {
    width        : 50%;
    height       : 40%;
    padding      : 1.25em;
    border-radius: 50%;
}

.feedback-item-div-title {
    font-size  : 1.125em;
    font-weight: 700;
    text-align : center;
}

.feedback-item-div-details {
    display   : inline-block;
    text-align: center;
    font-style: italic;
    margin    : 0 1.875em 1.25em 1.875em;
}

/* Feedback ends */

/* Footer starts */

#footer {
    background-color: black;
    width           : 100%;
    height          : 9.375em;
    margin          : 5em 5% 0 0%;
    text-transform  : uppercase;
}

#footer div {
    text-align: center;
}

#footer div h2 {
    font-size    : 1.375em;
    font-weight  : 600;
    color        : rgba(255, 255, 255, 0.6);
    margin-bottom: 0.9375em;
}

#footer div small {
    font-size: 0.6875em;
    color    : white;
}

/* Footer ends */