/* Imported fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
    padding    : 0;
    font-family: 'Montserrat', sans-serif;
    margin     : 0 10% 0 10%;
}

/* Navbar starts */

#nav-body {
    margin-top: 30px;
    width     : 100%;
    height    : 50px;
    display   : flex;
}

#nav-head {
    display    : block;
    font-weight: 700;
    font-size  : 24px;
    margin-top : 9px;
}

.nav-bar {
    width          : 80%;
    float          : right;
    list-style-type: none;
    margin-left    : 50%;
    padding        : 0;
    overflow       : hidden;
}

.nav-bar li {
    float      : right;
    margin-left: 25px;
}

.nav-bar a {
    font-weight    : 500;
    display        : block;
    color          : black;
    text-align     : center;
    padding-top    : 14px;
    padding-bottom : 16px;
    text-decoration: none;
}

/* Navbar ends */

/* Header starts */

.intro {
    width        : 45%;
    padding-left : 10%;
    margin-bottom: 10%;
}

.intro-text {
    text-transform: capitalize;
    margin-top    : 80px;
    font-size     : 42px;
}

.intro-text-span {
    background             : -webkit-linear-gradient(#14BAFC, #0389F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro p {
    margin-bottom: 30px;
    font-size    : 14px;
}

.section-head {
    height       : 300px;
    padding-left : 10%;
    padding-right: 10%;
}

.section-div {
    width: 50%;
}

.section-div-img {
    height: 400px;
    width : 400px;
}

.link-btn {
    font-size       : 12px;
    text-transform: uppercase;
    font-weight     : bold;
    color           : white;
    text-decoration : none;
    background-image: linear-gradient(to right, #14BAFC, #0389F7);
    padding         : 15px 25px;
    border-radius   : 25px;
}

/* Header ends */

/* About starts */

#about-head {
    height           : 400px;
    background-image : url(img/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size  : cover;
    display          : flex;
    margin-top       : 5px;
}

#section-about-img {
    height: 400px;
    width : 400px;
}

.about-img {
    width     : 50%;
    text-align: center;
}

.about-text-body {
    height       : 300px;
    width        : 50%;
    padding-right: 10%;
    padding-left : 10%;
}

.about-text-body h3 {
    color      : rgba(0, 0, 0, 0.6);
    font-size  : 32px;
    padding-top: 30px;
}

/* About ends */

/* Recipe starts */

#recipe-sec {
    height       : 600px;
    padding-left : 10%;
    padding-right: 10%;
    margin-bottom: 80px;
}

#recipe-body {
    height       : 150px;
    margin-left  : 20%;
    margin-right : 20%;
    margin-bottom: 40px;
}

#recipe-head {
    color     : rgba(0, 0, 0, 0.6);
    text-align: center;
    margin-top: 60px;
    font-size : 28px;
}

#recipe-card-group {
    width          : fit-content;
    height         : fit-content;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.food-cards {
    box-shadow      : 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding         : 15px;
    text-align      : center;
    width           : 50%;
    margin-right    : 50px;
    border-radius   : 15px;
}

.food-cards h3,
p {
    text-align: left;
}

.recipe-img {
    border-radius: 15px;
    width        : 240px;
    height       : 180px;
}

/* Recipe ends */

/* Views starts */

#view-sec {
    display      : flex;
    box-shadow   : 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin       : 0 10% 0 10%;
}

.view-card-body {
    width          : 80%;
    height         : 160px;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.view-card-head {
    text-align     : center;
    display        : flex;
    justify-content: center;
}

.view-card {
    width      : fit-content;
    line-height: 0.5;
    text-align : left;
}

/* Views ends */

/* Feedback starts */

#feedback-title {
    margin-top   : 150px;
    margin-bottom: 100px;
}

#feedback-body {
    width  : 80%;
    height : 400px;
    display: inline-block;
}

#feedback-item {
    display: flex;
}

.feedback-item-div {
    width        : 50%;
    height       : 400px;
    border-radius: 15px;
    box-shadow   : 0 0 20px rgba(0, 0, 0, 0.2);
}

.feedback-img {
    width        : 50%;
    height       : 40%;
    padding      : 20px;
    border-radius: 50%;
}

.feedback-item-div-title {
    font-size  : 18px;
    font-weight: 700;
    text-align : center;
}

.feedback-item-div-details {
    display      : inline-block;
    text-align   : center;
    font-style   : italic;
    margin: 0 30px 20px 30px;
}

/* Feedback ends */

/* Footer starts */

#footer {
    background-color: black;
    width           : 100%;
    height          : 150px;
    margin          : 80px 5% 0 0%;
    text-transform  : uppercase;
}

#footer div {
    text-align: center;
}

#footer div h2 {
    font-size    : 22px;
    font-weight  : 600;
    color        : rgba(255, 255, 255, 0.6);
    margin-bottom: 30px;
}

#footer div small {
    font-size: 11px;
    color    : white;
}

/* Footer ends */